---
import '../styles/global.css'

const {pageTitle} = Astro.props;
const {metaDescription} = Astro.props;
const {pageImage} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />

		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<!-- favicon -->
		<link rel="icon" type="image/svg+xml" href="favicon.svg" />
		<link rel="icon" type="image/png" href="favicon.png" sizes="192x192" />
		<link rel="shortcut icon" href="favicon.ico" />
		<!-- Open Graph tags -->
		<meta property="og:title" content={pageTitle} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="http://www.jack-armstrong.com/" />
		<meta property="og:description" content={metaDescription} />
		<meta property="og:image" content={pageImage}>
		<meta property="og:image:alt" content={pageTitle}>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
